div[data-page-route="Purchase Reconciliation Tool"] {
    --dt-row-height: 34px;
}

div[data-page-route="Purchase Reconciliation Tool"]
    [data-fieldname="reconciliation_html"]
    .form-tabs-list {
    border-bottom: 0px solid black;
}

div[data-page-route="Purchase Reconciliation Tool"]
    [data-fieldname="reconciliation_html"]
    .section-body {
    margin-top: 0;
}

div[data-page-route="Purchase Reconciliation Tool"] .title-area .indicator-pill {
    display: none;
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-scrollable {
    overflow-y: auto !important;
    margin-bottom: 2em;
    min-height: calc(100vh - 450px);
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-row {
    height: unset;
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-row-filter {
    height: var(--dt-row-height);
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-row-filter .dt-cell {
    max-height: var(--dt-row-height);
}

div[data-page-route="Purchase Reconciliation Tool"]
    [data-fieldname="no_reconciliation_data"],
div[data-page-route="Purchase Reconciliation Tool"] [data-fieldname="not_reconciled"] {
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div[data-page-route="Purchase Reconciliation Tool"]
    [data-fieldname="no_reconciliation_data"]
    > img,
div[data-page-route="Purchase Reconciliation Tool"]
    [data-fieldname="not_reconciled"]
    > img {
    margin-bottom: var(--margin-md);
    max-height: 100px;
}

.detail-view-head {
    width: 15%;
}

.highlight-diff {
    background-color: #ecdcd8;
}

.matched-row {
    color: green;
}

td, .not-matched-row {
    color: red;
}