div[data-page-route="Purchase Reconciliation Tool"] {
    --dt-row-height: 34px;
}

div[data-page-route="Purchase Reconciliation Tool"] [data-fieldname="summary_data"] .form-tabs-list {
    border-bottom: 0px solid black;
}

div[data-page-route="Purchase Reconciliation Tool"] [data-fieldname="summary_data"] .section-body {
    margin-top: 0;
}


div[data-page-route="Purchase Reconciliation Tool"] .title-area .indicator-pill {
    display: none;
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-scrollable {
    overflow-y: auto !important;
    margin-bottom: 2em;
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-scrollable .dt-row {
    height: unset;
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-row-filter {
    height: var(--dt-row-height);
}

div[data-page-route="Purchase Reconciliation Tool"] .datatable .dt-row-filter .dt-cell {
    max-height: var(--dt-row-height);
}
