<div class="container">
	<table class="table table-bordered table-hover">
		<thead class="detail-view-head">
			<tr class="text-center">
				<th></th>
				<th>2A / 2B</th>
				<th>Purchase</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Document Links</td>
				<td class="text-center">{{ data.isup_link }}</td>
				<td class="text-center">{{ data.purchase_link }}</td>
			</tr>
			<tr>
				<th>Bill No</td>
				<td class="text-center">{{ data.isup_bill_no || '-' }}</td>
				<td class="text-center">{{ data.bill_no || '-' }}</td>
			</tr>
			<tr>
				<th>Bill Date</td>
				<td class="text-center">
					{{ frappe.format(data.isup_bill_date, {'fieldtype': 'Date'}) || '-' }}
				</td>
				<td class="text-center">
					{{ frappe.format(data.bill_date, {'fieldtype': 'Date'}) || '-' }}
				</td>
			</tr>
			<tr>
				<th>Place of Supply</th>
				<td class="text-center">{{ data.place_of_supply }}</td>
				<td class="text-center">{{ data.place_of_Supply }}</td>
			</tr>
			<tr>
				<th>Reverse Charge</th>
				<td class="text-center">Yes</td>
				<td class="text-center">No</td>
			</tr>
			{% if data.cgst || data.isup_cgst %}
			<tr>
				<th>CGST</td>
				<td class="text-center">{{ data.isup_cgst || '-' }}</td>
				<td class="text-center">{{ data.cgst || '-' }}</td>
			</tr>
			{% endif %}
			{% if data.sgst || data.isup_sgst %}
			<tr>
				<th>SGST</td>
				<td class="text-center">{{ data.isup_sgst || '-' }}</td>
				<td class="text-center">{{ data.sgst || '-' }}</td>
			</tr>
			{% endif %}
			{% if data.igst || data.isup_igst %}
			<tr>
				<th>IGST</td>
				<td class="text-center">{{ data.isup_igst || '-' }}</td>
				<td class="text-center">{{ data.igst || '-' }}</td>
			</tr>
			{% endif %}
			{% if data.cess || data.isup_cess %}
			<tr>
				<th>CESS</td>
				<td class="text-center">{{ data.isup_cess || '-' }}</td>
				<td class="text-center">{{ data.cess || '-' }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>Taxable Amount</td>
				<td class="text-center">{{ data.isup_taxable_value || '-' }}</td>
				<td class="text-center">{{ data.taxable_value || '-' }}</td>
			</tr>
		</tbody>
	</table>
</div>