# Copy to .env. 
# source .env && ../../env/bin/pytest

SITE=ic_test.localhost
SITE_PORT=8000
FRAPPE_USER=Administrator
ADMIN_PASSWORD=admin

# BASE_URL=http://ic_test.localhost:8000   # overrides SITE/SITE_PORT
