# Ignore files with {% include ... %}
india_compliance/gst_india/report/hsn_wise_summary_of_outward_supplies/hsn_wise_summary_of_outward_supplies.js
india_compliance/income_tax_india/report/tax_withholding_details_india/tax_withholding_details_india.js
india_compliance/income_tax_india/report/tds_computation_summary_india/tds_computation_summary_india.js

# Other
node_modules
dist/
