.DS_Store
*.pyc
*.egg-info
*.swp
tags
.vscode/
__pycache__/

# docs
india_compliance/docs/current

# JS
dist/
node_modules

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads
coverage/
.nyc_output/
