include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include india_compliance *.css
recursive-include india_compliance *.csv
recursive-include india_compliance *.html
recursive-include india_compliance *.ico
recursive-include india_compliance *.js
recursive-include india_compliance *.json
recursive-include india_compliance *.md
recursive-include india_compliance *.png
recursive-include india_compliance *.py
recursive-include india_compliance *.svg
recursive-include india_compliance *.txt
recursive-exclude india_compliance *.pyc