/* shared bits live in public/scss/india_compliance.bundle.scss */

div[data-page-route="GST Invoice Management System"] [data-fieldname="data_section"] {
    padding-top: 0;
}

div[data-page-route="GST Invoice Management System"] .datatable .dt-scrollable {
    margin-bottom: 2em;
    min-height: calc(100vh - 450px);
}

div[data-page-route="GST Invoice Management System"] .action-summary {
    text-decoration: none;
}
