:root {
    --page-height: calc(100vh - 60px);
    --bg-red: var(--red-100);
}

body {
    background-color: var(--bg-light-gray);
    height: unset;
    min-height: 100vh;
}

.page-container {
    background-color: transparent;
}

.page-center {
    min-height: var(--page-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-highlight {
    color: var(--primary-color) !important;
}
