.print-format .info-section {
	border-bottom: 1px solid #f4f5f6;
	padding-bottom: 10px;
}
.print-format .section-heading {
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

.print-format .hide-scrollbar::-webkit-scrollbar{
	display: none;
}