<style>
    {% include "india_compliance/gst_india/print_format/e_invoice/e_invoice.css" %}
</style>

{%- from "templates/print_formats/standard_macros.html" import add_header, render_field, print_value -%}

{% if not doc.irn %}

<div class="text-center no-preview-available">
	Please generate an e-Invoice to preview it.
</div>

{% else %}

{% set e_invoice_log = frappe.db.get_value(
	"e-Invoice Log", doc.irn, ("invoice_data", "signed_qr_code"), as_dict=True
) %}

{% if not e_invoice_log %}

<div class="text-center no-preview-available">
	The e-Invoice Log linked to this Sales Invoice could not be found.
</div>

{% else %}

{% if not e_invoice_log.invoice_data %}

<div class="text-center no-preview-available">
	Invoice Data is not available in the e-Invoice Log linked to this invoice.
</div>

{% else %}

{%- set invoice_data = _dict(json.loads(e_invoice_log.invoice_data)) -%}

{% macro get_address_html(address) %}
{% for field in ("Gstin", "LglNm", "Nm", "Addr1", "Addr2", "Loc") %}
{% if address.get(field) %}
<p>{{ address[field] }}</p>
{% endif %}
{% endfor %}
<p>{{ get_state(address["Stcd"]) }} - {{ address["Pin"] }}</p>
{%- endmacro %}

<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
	{% if letter_head and not no_letterhead %}
		<div class="letter-head">{{ letter_head }}</div>
	{% endif %}
	<div class="print-heading text-right">
		<h2>e-Invoice<br></h2>
		<span class="docname">{{ doc.name }}</span>
	</div>
</div>
{% if print_settings.repeat_header_footer %}
<div id="footer-html" class="visible-pdf">
	{% if not no_letterhead and footer %}
	<div class="letter-head-footer">
		{{ footer }}
	</div>
	{% endif %}
	<p class="text-center small page-number visible-pdf">
		{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
	</p>
</div>
{% endif %}
<h5 class="section-heading">1. Transaction Details</h5>
<div class="row section-break info-section">
	<div class="col-xs-8 column-break">
		{%
			set transaction_details = {
				"IRN": invoice_data.Irn,
				"Ack. No.": invoice_data.AckNo,
				"Ack. Date": frappe.utils.format_datetime(
					invoice_data.AckDt, "dd/MM/yyyy hh:mm:ss"
				),
				"Category": invoice_data.TranDtls.SupTyp,
				"Document Type": invoice_data.DocDtls.Typ,
				"Document No.": invoice_data.DocDtls.No,
				"e-Waybill No.": doc.ewaybill,
			}
		%}
		{% for key, value in transaction_details.items() %}
			{% if value %}
				<div class="row data-field">
					<div class="col-xs-4"><label>{{ key }}</label></div>
					<div class="col-xs-8 value">{{ value }}</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-xs-4 column-break text-right">
		<img src="data:image/png;base64,{{ get_qr_code(e_invoice_log.signed_qr_code, scale=2) }}" class="qrcode">
	</div>
</div>

<h5 class="section-heading">2. Party Details</h5>
<div class="row section-break info-section">
	<div class="col-xs-6 column-break">
		<h6 class="address-heading">
			{% if invoice_data.DispDtls %}
				Seller Details
			{% else %}
				Seller and Dispatch Details
			{% endif %}
		</h6>
		{{ get_address_html(invoice_data.SellerDtls) }}

		{%- if invoice_data.DispDtls -%}
		<h6 class="address-heading">Dispatched From</h6>
			{{ get_address_html(invoice_data.DispDtls) }}
		{% endif %}
	</div>
	<div class="col-xs-6 column-break">
		<h6 class="address-heading">
			{% if invoice_data.ShipDtls %}
				Buyer Details
			{% else %}
				Buyer and Shipping Details
			{% endif %}
		</h6>
		{{ get_address_html(invoice_data.BuyerDtls) }}

		{%- if invoice_data.ShipDtls -%}
			<h6 class="address-heading">Shipped To</h6>
			{{ get_address_html(invoice_data.ShipDtls) }}
		{% endif %}
	</div>
</div>

{% set items = invoice_data.ItemList %}
{% set item_fields = get_e_invoice_item_fields(items) %}
<h5 class="section-heading">3. Item Details</h5>
<div class="row section-break info-section item-details">
<div class="col-xs-12 column-break">
	<table class="table table-bordered e-invoice-table">
		<thead>
			<tr>
				{% for field, label in item_fields.items() %}
					<th
					{% if field not in ("HsnCd", "PrdDesc", "Unit") -%}
					class="text-right"
					{%- endif -%}
					>{{ label }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					{% for field in item_fields %}
						{% set value = item[field] %}
						<!-- Currency -->
						{% if field.endswith(("Val", "Amt", "Price")) or field == "Discount" %}
							<td class="text-right text-nowrap">
								{{ frappe.utils.fmt_money(value, currency="INR") }}
							</td>
						{% elif field.endswith("Rt") %}
							<td class="text-right text-nowrap">
								{% if value % 1 == 0 %}
								{{ "{}%".format(frappe.utils.cint(value)) }}
								{% elif value % 0.1 == 0 %}
								{{ "{}%".format(frappe.utils.flt(value, 1)) }}
								{% else %}
								{{ "{}%".format(frappe.utils.flt(value, 2)) }}
								{% endif %}
							</td>
						{% elif value is not string or field == "SlNo" %}
							<td class="text-right">{{ value }}</td>
						{% else %}
							<td class="text-left">{{ value }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>

{%- set amounts = invoice_data.ValDtls -%}
{% set amount_fields = get_e_invoice_amount_fields(amounts, doc) %}
<h5 class="section-heading">4. Value Details</h5>
<div class="row section-break">
<div class="col-xs-12 column-break">
	<table class="table table-bordered e-invoice-table">
		<thead>
			<tr>
				{% for field, label in amount_fields.items() %}
					<th class="text-right">{{ label }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for field in amount_fields %}
					<td class="text-right text-nowrap">
						{{ frappe.utils.fmt_money(amounts[field], currency="INR")}}
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
</div>

{% endif %}
{% endif %}
{% endif %}
