div[data-page-route="GSTR-1 Beta"] {
    --dt-row-height: 34px;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"]
    .section-body {
    margin-top: 0;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"]
    .form-tabs-list {
    margin-top: var(--margin-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--padding-lg);
    position: inherit;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"]
    .form-tabs-list
    .custom-button-group {
    display: flex;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"]
    .form-tabs-list
    .inner-group-button, .filter-selector {
    margin-bottom: 8px;
    margin-left: 8px;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"]
    .form-tabs-list
    .custom-button-group
    .btn {
    padding: 5px 10px;
}

div[data-page-route="GSTR-1 Beta"] .datatable .dt-scrollable {
    overflow-y: auto !important;
    margin-bottom: 2em;
    min-height: calc(100vh - 450px);
}

div[data-page-route="GSTR-1 Beta"] .datatable .dt-row {
    height: unset;
}

div[data-page-route="GSTR-1 Beta"] .datatable .dt-row-filter {
    height: var(--dt-row-height);
}

div[data-page-route="GSTR-1 Beta"] .datatable .dt-row-filter .dt-cell {
    max-height: var(--dt-row-height);
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_empty_state"],
div[data-page-route="GSTR-1 Beta"] [data-fieldname="tabs_no_data"] {
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_empty_state"]
    > img,
div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_no_data"]
    > img {
    margin-bottom: var(--margin-md);
    max-height: 100px;
}

div[data-page-route="GSTR-1 Beta"]
    [data-fieldname="tabs_html"] {
    margin-bottom: var(--margin-sm);
    border: 1px solid var(--border-color);
    border-radius: var(--margin-xs);
}