<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>Gov</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            {% var field_keys =   Object.keys(gov).length > 0?Object.keys(gov):Object.keys(books) %}
                {% for fieldname in field_keys %}
                    {% if fieldname_map[fieldname] %}
                        <tr>
                            <td><b>{{ fieldname_map[fieldname] }}</b></td>
                            <td>{{ gov[fieldname]  || '-' }}</td>
                            <td>{{ books[fieldname] || '-' }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>
</div>
