div[data-page-route="GST Return Export"] .section-body {
	max-width: 100% !important;
}

.gst-return-summary .summary-heading {
	font-size: 1.2rem;
	margin-top: var(--margin-md);
	margin-bottom: var(--margin-md);
}

.gst-return-summary .section-table {
	margin-bottom: var(--margin-lg);
}
