
name: Generate Semantic Release
on:
  workflow_dispatch:
  push:
    branches:
      - version-14
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Entire Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Setup dependencies
        run: |
          npm install @semantic-release/git @semantic-release/exec --no-save
      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.BOT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          GIT_AUTHOR_NAME: "India Compliance Bot"
          GIT_AUTHOR_EMAIL: "bot@indiacompliance.app"
          GIT_COMMITTER_NAME: "India Compliance Bot"
          GIT_COMMITTER_EMAIL: "bot@indiacompliance.app"
        run: npx semantic-release
